.app-subnav {
    background-color: #EAF2F6;
}

.app-subnav td {
    border-bottom: none;
    padding-top: 12px;
    padding-bottom: 0px;
}

//.app-left-nav{
//   background-color: rgb(198, 117, 11);
//  display: inline-block;
//}