.dfe-header:after {
    clear: both;
    content: "";
    display: block;
}




.flex-nav {
    display: flex;
    justify-content: space-between
}
.flex-right {
    justify-content: flex-end;
    margin-left: auto
}

.flex-left {
    justify-content: flex-start;
    margin-right: auto
}


.dfe-topnav {
    background-color: #00294a
}

.dfe-topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 1.4em
}

.dfe-topnav li a {
    display: block;
    text-align: center;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.71429;
    text-decoration: none;
    color: #fff
}

@media (min-width: 40.0625em) {
    .dfe-topnav li a {
        font-size:16px;
        font-size: 1rem;
        line-height: 1.5
    }
}

@media print {
    .dfe-topnav li a {
        font-size: 14pt;
        line-height: 1.2
    }
}

.dfe-topnav li {
    float: left;
    margin-bottom: 0;
    font-size: 16px
}

.dfe-topnav li a:focus {
    background: #fd0;
    color: #171b1f!important
}

.dfe-topnav li a:hover {
    background-color: #003a69;
    color: #fff
}

.dfe-topnav li a:hover:focus {
    color: #fff!important
}

.dfe-topnav li a:hover {
    color: #fff
}

.dfe-topnav .active {
    color: #fff;
    font-weight: 700;
    background-color: #003a69
}

.dfe-topnav .active:focus {
    color: #171b1f
}

.dfe-topnav ul.right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right
}

@media (min-width: 61.875em) {
    .dfe-topnav {
        display:block
    }
}