{% extends "layouts/main.html" %}

{% set pageName="Commission and oversee maintenance work" %}

<!-- Change "selectedNav" if appropriate -->

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Home",
  "service": {
    "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Ed Stait"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
"primaryLinks": [{
    "url": "../homepage",
    "label": "Home"
  }, {
    "url": "../contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "../report-an-emergency",
    "label": "Report an emergency"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Folkstone Academy" %}
{% set selectedSchoolLocation = "Cambridge" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body-s" style="margin-bottom: 6px; padding: 12px;"><span class="govuk-body-m" style="margin-right: 20px"><strong>{{ selectedSchoolName }}</strong></span><span style="margin-right: 20px">{{ selectedSchoolLocation }}</span><a href="/v1/check-schools" class="govuk-link">Change school</a></p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "../homepage"
        },
        {
          html: pageName,
          href: "#"
        }
      ]
    }) }}
    
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        
        <!-- PAGE TITLE: Lifecycle stage name -->

        <h1 class="govuk-heading-xl">Commission and oversee construction and maintenance work</h1>
        <p class="govuk-body-l">Informed and careful project planning can make sure you:</p>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li>have the right people to help you achieve your desired outcomes</li>
          <li>make the best use of your resources</li>
          <li>understand your school or organisation's responsibilities before the project starts, during the project, and after it has been completed</li>
        </ul>

        <!-- Legal responsibilities are documented in a word document -->
        <!-- Legal responsibilities are documented in a word document -->
        <h2 class="govuk-heading-m">Your legal responsibilities</h2>
        <p class="govuk-body">You have legal duties to make sure that the buildings and grounds are:</p>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li>safe</li>
          <li>well-maintained</li>
          <li>suitable for students, staff, and visitors</li>
        </ul>

        <p class="govuk-body"><a class="govuk-link" href="#">Understand your legal responsibilities when commissioning and overseeing construction and maintenance work.</a></p>

        <h2 class="govuk-heading-m">Guidance on construction work</h2>
        <p class="govuk-body">The guidance for commissioning and overseeing contruction and maintenance work will help you improve building and workplace safety.</p>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="#">The Construction Playbook</a></li>
          <li><a class="govuk-link" href="#">Employer's requirements part B: generic design brief</a></li>
          <li><a class="govuk-link" href="#">School buildings: construction framework 2021</a></li>
          <li><a class="govuk-link" href="#">School and Further Education College Design and Construction Guidance</a></li>
        </ul>

        <p class="govuk-body">For commissioning work, you can use the <a href="#" class="govuk-link">list of DfE approved contractors</a>.</p>

        <h2 class="govuk-heading-m">Submit a school land transaction proposal</h2>
        <p class="govuk-body">For some land transactions, you'll need to obtain the Secretary of State's prior consent or give notice to the Secretary of State.</p>

        <p class="govuk-body"><a class="govuk-link" href="#">Submit a school land transaction proposal</a></p>


      </div>

      <!-- Related content LINKS -->
      <div class="govuk-grid-column-one-third">

        <aside class="dfe-aside">
          <h2 class="govuk-heading-m">Related content</h2>
          <ul class="govuk-list govuk-list--spaced">
            <li><a href="#" class="govuk-link">Academies: making significant changes or closure by agreement</a></li>
          </ul>
        </aside>

      </div>

    </div>

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
