{% extends "layouts/main.html" %}

{% set pageName="See funding options for your estate" %}

<!-- Change "selectedNav" if appropriate -->

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Home",
  "service": {
   "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Ed Stait"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
"primaryLinks": [{
    "url": "../homepage",
    "label": "Home"
  }, {
    "url": "../contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "../report-an-emergency",
    "label": "Report an emergency"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Folkstone Academy" %}
{% set selectedSchoolLocation = "Cambridge" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body" style="margin-bottom: 6px; padding: 12px;"><strong>{{ selectedSchoolName }}</strong> {{ selectedSchoolLocation }}</p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
            <p class="govuk-body" style="margin-bottom: 6px; padding: 12px;">
              <a href="/v1/check-schools" class="govuk-link">Change school</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    
    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">

      {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  
        {{ govukBreadcrumbs({
            items: [
              {
                text: "Home",
                href: "../homepage"
              },
              {
                html: pageName,
                href: "#"
              }
            ]
          }) }}

      <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-two-thirds">
          <!-- PAGE TITLE -->
          <h1 class="govuk-heading-xl">See funding options for your estate</h1>

          <!-- PAGE BLURB -->
          <p class="govuk-body-l">[Page blurb]</p>
          
          <!-- Funding table -->
          
          <!-- Filters widget -->
          <div class="govuk-form-group" style="margin-top: 0px;">
            <h2 class="govuk-heading-m" style="margin-bottom: 4px">Funding options (3)</h2>
            <a href="#" class="govuk-link">Filter funding options</a>  
          </div>
          
          <div class="govuk-form-group">

                <div class="govuk-grid-column-one-third govuk-!-margin-top-1 govuk-!-margin-bottom-6" >
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-heading-s govuk-!-margin-bottom-1">
                      Setting
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Multi-academy trust (MAT)
                        </label>
                      </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Single academy trust (SAT)
                        </label>
                      </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Local Authority (LA)
                        </label>
                      </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Voluntary Aided School
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
            
                
                
                <div class="govuk-grid-column-one-third govuk-!-margin-top-1 govuk-!-margin-bottom-6" >
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-heading-s govuk-!-margin-bottom-1">
                      Funding type
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Emergency
                        </label>
                      </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Sustainability
                        </label>
                      </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Technology
                        </label>
                      </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Other
                        </label>
                      </div>
                    </div>
                    
                  </fieldset>
                </div>
                
                <div class="govuk-grid-column-one-third govuk-!-margin-top-1 govuk-!-margin-bottom-6" >
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-heading-s govuk-!-margin-bottom-1">
                      [Policy pillar]
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Estate management
                        </label>
                      </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Condition, resilience and decarbonisation
                        </label>
                      </div>
                    </div>
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                          Build and rebuild
                        </label>
                      </div>
                    </div>
                    
                  </fieldset>
                </div>
                
                <!-- Table -->
                <table class="govuk-table" style="margin-top: 30px;">
                  
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Funding scheme</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Type</th>
                        <th scope="col" class="govuk-table__header">Deadline for applications</th>
                      </tr>
                    </thead>

                    <tbody>
                    
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#" target="_blank">
                            Condition improvement fund
                          </a>
                        </td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Open
                          </strong>
                        </td>
                        <td class="govuk-table__cell">Allocation</td>
                        <td class="govuk-table__cell">3 Feb 2025</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"> <a class="govuk-link" href="#" target="_blank">[Funding option link]</a></td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Open
                          </strong>
                        </td>
                        <td class="govuk-table__cell">Allocation</td>
                        <td class="govuk-table__cell">9 September 2025</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"> <a class="govuk-link" href="#" target="_blank">[Funding option link]</a></td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--grey">
                            Closed
                          </strong>
                        </td>
                        <td class="govuk-table__cell">Fund</td>
                        <td class="govuk-table__cell">17 Feb 2025</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"> <a class="govuk-link" href="#" target="_blank">[Funding option link]</a></td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--grey">
                            Closed
                          </strong>
                        </td>
                        <td class="govuk-table__cell">Fund</td>
                        <td class="govuk-table__cell">17 Feb 2025</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"> <a class="govuk-link" href="#" target="_blank">[Funding option link]</a></td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--grey">
                            Closed
                          </strong>
                        </td>
                        <td class="govuk-table__cell">Fund</td>
                        <td class="govuk-table__cell">17 Feb 2025</td>
                      </tr>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"> <a class="govuk-link" href="#" target="_blank">[Funding option link]</a></td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--grey">
                            Closed
                          </strong>
                        </td>
                        <td class="govuk-table__cell">Fund</td>
                        <td class="govuk-table__cell">17 Feb 2025</td>
                      </tr>

                    </tbody>

                  </table>
                  
              </div>


                

        </div>
        
        <!-- RELATED GUIDANCE LINKS -->
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-s">Related guidance</h2>
          
          <p class="govuk-body"><a href="#" class="govuk-link">Public Sector Decarbonisation Scheme</a></p>
          <p class="govuk-body"><a href="#" class="govuk-link">Heat and Building Strategy (accessible webpage)</a></p>
          <p class="govuk-body"><a href="#" class="govuk-link">Understanding and managing your land and buildings</a></p>
          <p class="govuk-body"><a href="#" class="govuk-link">The information you need to know about your estate</a></p>
          <p class="govuk-body"><a href="#" class="govuk-link">Net Capacity Assessment (NCA) programme</a></p>
          <p class="govuk-body"><a href="#" class="govuk-link">Performance management and sustainability</a></p>

        </div>
        
      </div>
    </main>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
