{% extends "layouts/main.html" %}

{% set pageName="Understand the condition of your estate" %}

{% block header %}
  {{ header({
    "showNav": "true",
    "showSearch": "true",
    "showHeaderActionLinks": "true",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "selectedNav": view,
    "service": {
      "name": "Manage and maintain education estates",
      "serviceUrl": "#"
    },
    "headerActionLinks": [
      { "url": "#", "label": "Sign out" }
    ],
    "primaryLinks": [
      { "url": "homepage", "label": "Home" },
      { "url": "contact-us-for-support", "label": "Contact us for support" },
      { "url": "report-an-emergency", "label": "Report an emergency" }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
  {{ govukPhaseBanner({
    tag: { text: "Alpha" },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "../homepage"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <!-- PAGE TITLE -->
          <h1 class="govuk-heading-xl">See funding options for your estate</h1>

          <!-- PAGE BLURB -->
          <p class="govuk-body-l">[Page blurb]</p>

          <!-- TABLE CAPTION MOVED ABOVE FILTERS -->
          <h2 class="govuk-heading-m">Funding options</h2>

          <!-- FILTER FUNDING OPTIONS -->
          <h3 class="govuk-heading-s">Filter funding options</h3>
          <div class="govuk-grid-row">
            <!-- Checkboxes Left -->
            <div class="govuk-grid-column-one-half">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="mat-option" type="checkbox" name="filterOptions" value="mat">
                  <label class="govuk-label govuk-checkboxes__label" for="mat-option">
                    Multi-academy trust (MAT)
                  </label>
                </div>
              </div>
            </div>

            <!-- Checkboxes Right -->
            <div class="govuk-grid-column-one-half">
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="single-option" type="checkbox" name="filterOptions" value="single">
                  <label class="govuk-label govuk-checkboxes__label" for="single-option">
                    Single academy trust (SAT)
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- Buttons -->
          <div class="govuk-grid-row">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <button type="button" class="govuk-button">Apply filters</button>
                <a href="#" class="govuk-link" id="clearFilters">Clear filters</a>
              </fieldset>
            </div>
          </div>

          <!-- FUNDING TABLE -->
          {% from "govuk/components/table/macro.njk" import govukTable %}
          {{ govukTable({
            caption: "Funding options",
            firstCellIsHeader: true,
            head: [
              { text: "Funding scheme" },
              { text: "Status" },
              { text: "Type" },
              { text: "Deadline for applications" }
            ],
            rows: [
              [
                { html: '<a href="/funding/condition-improvement-fund" class="govuk-link">Condition improvement fund</a>' },
                { html: govukTag({ text: "Open", classes: "govuk-tag--green" }) },
                { text: "Allocation" },
                { text: "03 Feb 2025" }
              ]
            ]
          }) }}
        </div>

        <!-- RELATED GUIDANCE LINKS -->
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-s">Related guidance</h2>
          <ul class="govuk-list">
            <li><a href="#" class="govuk-link">Public Sector Decarbonisation Scheme</a></li>
            <li><a href="#" class="govuk-link">Heat and Building Strategy (accessible webpage)</a></li>
            <li><a href="#" class="govuk-link">Understanding and managing your land and buildings</a></li>
            <li><a href="#" class="govuk-link">The information you need to know about your estate</a></li>
            <li><a href="#" class="govuk-link">Net Capacity Assessment (NCA) programme</a></li>
            <li><a href="#" class="govuk-link">Performance management and sustainability</a></li>
          </ul>
        </div>
      </div>
    </main>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
