{% extends "layouts/main.html" %}

{% set pageName="Know the condition of your estate" %}

<!-- Change "selectedNav" if appropriate -->

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Home",
  "service": {
    "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Ed Stait"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
  "primaryLinks": [{
    "url": "../homepage",
    "label": "Home"
  }, {
    "url": "../contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "../report-an-emergency",
    "label": "Report an emergency"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Folkstone Academy" %}
{% set selectedSchoolLocation = "Cambridge" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body" style="margin-bottom: 6px; padding: 12px;"><strong>{{ selectedSchoolName }}</strong> {{ selectedSchoolLocation }}</p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
            <p class="govuk-body" style="margin-bottom: 6px; padding: 12px;">
              <a href="/v1/check-schools" class="govuk-link">Change school</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">

    {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
          items: [
            {
              text: "Home",
              href: "../homepage"
            },
            {
              html: pageName,
              href: "#"
            }
          ]
        }) }}

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Understand the condition of your estate</h1>
        <p class="govuk-body-l">Helpful information to help you understand the condition of your estate</p>

        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li>Understand your legal responsibilities when managing the condition of an estate</li>
          <li>How your condition impacts funding</li>
        </ul>

        <h2 class="govuk-heading-m">Your legal responsibilities</h2>
        <p class="govuk-body">[Copy from word doc]</p>

        <h2 class="govuk-heading-m">Commission a survey report</h2>
        <p class="govuk-body">To understand the condition of your estate, you can commission your own survey. To do this, you can use <a class="govuk-link" href="#">DfE approved suppliers</a>.</p>

        
        <h2 class="govuk-heading-m">Your condition data collection reports</h2>
        <p class="govuk-body">Learn more about the Condition data collection 2 programme</p>
        
        <table>
          <td><img width="32px" src="app/assets/images/icon-png.png"></td>
          <td>
            <a class="govuk-link" href="#">Download the CDC2 report for [School name]</a>
            <p class="govuk-body">PDF, X KB, X pages</p>
            <p class="govuk-body-s">This file may not be suitable for users of assistive technology</p>
            <p class="govuk-body-s"><a class="govuk-link" href="#">Request an accessible format</a></p>
            <p class="govuk-body-s"><a class="govuk-link" href="#">Learn more about CDC1</a></p>
          </td>
        </table>

        <table>
          <td><img width="32px" src="app/assets/images/icon-png.png"></td>
          <td>
            <a class="govuk-link" href="#">Download the CDC1 report for [School name]</a>
            <p class="govuk-body">PDF, X KB, X pages</p>
            <p class="govuk-body-s">This file may not be suitable for users of assistive technology</p>
            <p class="govuk-body-s"><a class="govuk-link" href="#">Request an accessible format</a></p>
            <p class="govuk-body-s"><a class="govuk-link" href="#">Learn more about CDC1</a></p>
          </td>
        </table>


      </div>


      <!-- Use this section for the links -->
      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-s">Related guidance</h1>
        <p class="govuk-body"><a href="#" class="govuk-link">Public Sector Decarbonisation Scheme</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">Heat and building strategy (accessible webpage)</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">Understanding and managing your land and buildings</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">The information you need to know about your estate</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">Net Capacity Assessment (NCA) programme</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">Performance management and sustainability</a></p>
        

      </div>

    </div>



  </main>
</div>

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
