
<!--

1. DUPLICATE THIS PAGE
2. Populate it with appropriate content
3. Push changes to the test branch
4. Create a pull request

 -->

 {% extends "layouts/main.html" %}

{% set pageName="Change the name of the page" %}

{% block header %}

<!-- Change "selectedNav" if appropriate -->

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": view,
  "service": {
    "name": pageName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Ed Stait"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
  "primaryLinks": [{
    "url": "../homepage",
    "label": "Home"
  }, {
    "url": "contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "report-an-emergency",
    "label": "Report an emergency"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Folkstone Academy" %}
{% set selectedSchoolLocation = "Cambridge" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body" style="margin-bottom: 6px; padding: 12px;"><strong>{{ selectedSchoolName }}</strong> {{ selectedSchoolLocation }}</p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
            <p class="govuk-body" style="margin-bottom: 6px; padding: 12px;">
              <a href="/v1/check-schools" class="govuk-link">Change school</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "../homepage"
}) }}

{% endblock %}


{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">

    {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
          items: [
            {
              text: "Home",
              href: "../homepage"
            },
            {
              html: pageName,
              href: "#"
            }
          ]
        }) }}

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        
        <!-- PAGE TITLE: Lifecycle stage name -->

        <h1 class="govuk-heading-xl">[Life cycle stage]</h1>
        <p class="govuk-body-l">[Page intro]</p>

        <!-- Legal responsibilities are documented in a word document -->
        <h2 class="govuk-heading-m">Your legal responsibilities</h2>
        <p class="govuk-body">[Copy from word doc]</p>

        <h2 class="govuk-heading-m">[Add further subheadings as needed]</h2>


      </div>


      <!-- Use this section for related guidance links -->
      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-s">Related guidance</h1>
        <p class="govuk-body"><a href="#" class="govuk-link">[Link]</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">[Link]</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">[Link]</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">[Link]</a></p>

      </div>

    </div>



  </main>
</div>

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
