{% extends "layouts/main.html" %}

{% set pageName="Plan your estate maintenance and improvements" %}

<!-- Change "selectedNav" if appropriate -->

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Home",
  "service": {
    "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Alex Smith"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
"primaryLinks": [{
    "url": "../homepage",
    "label": "Home"
  }, {
    "url": "../contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "../report-an-incident",
    "label": "Report an urgent issue"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Example School" %}
{% set selectedSchoolLocation = "Surbiton" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body-s" style="margin-bottom: 6px; padding: 12px;"><span class="govuk-body-m" style="margin-right: 20px"><strong>{{ selectedSchoolName }}</strong></span><span style="margin-right: 20px">{{ selectedSchoolLocation }}</span><a href="#" class="govuk-link">Change school</a></p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "../homepage"
        },
        {
          html: pageName,
          href: "#"
        }
      ]
    }) }}
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        
        <!-- PAGE TITLE: Lifecycle stage name -->

        <h1 class="govuk-heading-l">Plan your estate maintenance and improvements</h1>
        <p class="govuk-body">The estate buildings are an important and valuable long-term asset. They may also be open to the public as community facilities.</p>
        <p class="govuk-body">You should plan ongoing maintenance and look at the key areas in your estate that need improvement. </p>
        
        <!-- STANDARDS HERE -->
        <p class="govuk-body">Read our estate <a class="govuk-link" href="../standards/standards-maintenance-improvements">management standards framework</a> for more information.</p>
        


        <h2 class="govuk-heading-m">Getting started with your estates maintenance plan</h2>

        <p class="govuk-body">Having a plan for your estates maintenance and improvements helps you manage the school's land and buildings effectively. This keeps a school's estate safe and well maintained, as well as supports educational needs and goals. It ensures you have the right plans, processes and documents in place.</p>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="https://www.gov.uk/guidance/good-estate-management-for-schools/planning-and-organising-your-estate-resources">Planning and organising your estate resources</a></li>
          <li><a class="govuk-link" href="https://assets.publishing.service.gov.uk/media/5f845992d3bf7f6ba5091f78/Benefits_of_strategic_estate_management.pdf">Benefits of strategic estate management (PDF)</a></li>
          <li><a class="govuk-link" href="https://www.gov.uk/guidance/good-estate-management-for-schools/fundamentals-of-good-estate-management">Fundamentals of good estate management</a></li>
          <li><a class="govuk-link" href="https://www.gov.uk/guidance/good-estate-management-for-schools/strategic-estate-management">Strategic estate management</a></li>
        </ul>

        <h2 class="govuk-heading-m">Health and safety of your estate</h2>
        <p class="govuk-body">You should ensure the safety of pupils, staff and visitors by managing your statutory responsibilities and other health and safety issues in the school estate to minimise health and safety issues.</p>

        <p class="govuk-body">Good estate management includes managing and maintaining the <a class="govuk-link" href="https://www.gov.uk/guidance/good-estate-management-for-schools/health-and-safety">health and safety responsibilities of school estate</a>.</p>

        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="https://www.gov.uk/government/publications/managing-asbestos-in-your-school-or-college/managing-asbestos-in-your-school-or-college">Asbestos guidance</a></li>
          <li><a class="govuk-link" href="https://www.gov.uk/guidance/good-estate-management-for-schools/health-and-safety">Health and safety guidance</a></li>
          <li><a class="govuk-link" href="https://www.gov.uk/guidance/good-estate-management-for-schools/maintaining-your-estate">Maintaining your estate</a></li>
        </ul>

        <h2 class="govuk-heading-m">Sustainability in your estate</h2>
        <p class="govuk-body">Good estate management should help you identify opportunities to make better use of your estate by:</p>

        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="https://www.gov.uk/guidance/good-estate-management-for-schools/sustainability-of-your-estate#natural-environment">enhancing the natural environment</a> with nature-based solutions</li>
          <li>allowing local community groups, schools or colleges to use available indoor or outdoor spaces - initiatives such as <a class="govuk-link" href="https://thelinkingnetwork.org.uk/">The Linking Network</a> can help with building connections and strengthening communities</li>
          <li><a class="govuk-link" href="#">utilising roof space or unused land for renewable energy sources</a></li>
        </ul>



      </div>

      <!-- Related content LINKS -->
      <div class="govuk-grid-column-one-third">

        <aside class="dfe-aside">
          <h2 class="govuk-heading-m">Related content</h2>
          <ul class="govuk-list govuk-list--spaced">
            <li><a href="https://assets.publishing.service.gov.uk/media/5f846b468fa8f50451896ba0/Top_10_estate_checks_for_boards.pdf" class="govuk-link">Top 10 estate checks for boards</a></li>
            <li><a href="https://www.gov.uk/guidance/good-estate-management-for-schools/maintaining-your-estate" class="govuk-link">Maintaining your estate</a></li>
            <li><a href="https://www.gov.uk/guidance/good-estate-management-for-schools/managing-your-estate-projects" class="govuk-link">Managing your estate projects</a></li>
          </ul>
        </aside>

      </div>

    </div>

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
