{% extends "layouts/main.html" %}

{% set pageName="Plan your estate maintenance and improvements" %}

<!-- Change "selectedNav" if appropriate -->

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Home",
  "service": {
    "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Ed Stait"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
"primaryLinks": [{
    "url": "../homepage",
    "label": "Home"
  }, {
    "url": "../contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "../report-an-emergency",
    "label": "Report an emergency"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Folkstone Academy" %}
{% set selectedSchoolLocation = "Cambridge" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body-s" style="margin-bottom: 6px; padding: 12px;"><span class="govuk-body-m" style="margin-right: 20px"><strong>{{ selectedSchoolName }}</strong></span><span style="margin-right: 20px">{{ selectedSchoolLocation }}</span><a href="/v1/check-schools" class="govuk-link">Change school</a></p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "../homepage"
        },
        {
          html: pageName,
          href: "#"
        }
      ]
    }) }}
{% endblock %}


{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        
        <!-- PAGE TITLE: Lifecycle stage name -->

        <h1 class="govuk-heading-xl">Plan your estate maintenance and improvements</h1>
        <p class="govuk-body-l">You should plan ongoing maintenance and look at the key areas in your estate that need improvement.</p>

        <!-- Legal responsibilities are documented in a word document -->
        <h2 class="govuk-heading-m">Your legal responsibilities</h2>
        <p class="govuk-body">You have legal duties to make sure that the buildings and grounds are:</p>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li>safe</li>
          <li>well-maintained</li>
          <li>suitable for students, staff, and visitors</li>
        </ul>

        <p class="govuk-body"><a class="govuk-link" href="#">Understand your legal responsibilities when planning your estates mainentance and improvements</a></p>
        <p class="govuk-body"><a class="govuk-link" href="#">Competency framework</a></p>

        <h2 class="govuk-heading-m">Getting started with your estates maintenance plan</h2>

        <p class="govuk-body">Having a plan for your estates maintenance and improvements helps you manage the school's land and buildings effectively. This keeps a school's estate safe and well maintained, as well as supports educational needs and goals. It ensures you have the right plans, processes and documents in place.</p>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="#">Planning and organising your estate resources</a></li>
          <li><a class="govuk-link" href="#">Benefits of strategic estate management</a></li>
          <li><a class="govuk-link" href="#">Fundamentals of good estate management</a></li>
          <li><a class="govuk-link" href="#">Strategic estate management</a></li>
        </ul>

        <h2 class="govuk-heading-m">Health and safety of your estate</h2>
        <p class="govuk-body">You should ensure the safety of pupils, staff and visitors by managing your statutory responsibilities and other health and safety issues in the school estate to minimise health and safety issues.</p>
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li><a class="govuk-link" href="#">Asbestos guidance</a></li>
          <li><a class="govuk-link" href="#">Health and safety guidance</a></li>
        </ul>


      </div>

      <!-- Related content LINKS -->
      <div class="govuk-grid-column-one-quarter">

        <aside class="dfe-aside">
          <h2 class="govuk-heading-m">Related content</h2>
          <ul class="govuk-list govuk-list--spaced">
            <li><a href="#" class="govuk-link">Top 10 estate checks for boards</a></li>
            <li><a href="#" class="govuk-link">Maintaining your estate</a></li>
            <li><a href="#" class="govuk-link">Managing your estate projects</a></li>            
            <li><a href="#" class="govuk-link">School water strategy (SWS) - business case & technical advisor recruitment</a></li>
          </ul>
        </aside>

      </div>

    </div>



  </main>
</div>

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
