{% extends "layouts/main.html" %}

{% set pageName="Report spending and activities" %}

<!-- Change "selectedNav" if appropriate -->

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Home",
  "service": {
    "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Alex Smith"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
  "primaryLinks": [{
    "url": "../homepage",
    "label": "Home"
  }, {
    "url": "../contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "../report-an-incident",
    "label": "Report an urgent issue"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Example School" %}
{% set selectedSchoolLocation = "Surbiton" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body-s" style="margin-bottom: 6px; padding: 12px;"><span class="govuk-body-m" style="margin-right: 20px"><strong>{{ selectedSchoolName }}</strong></span><span style="margin-right: 20px">{{ selectedSchoolLocation }}</span><a href="#" class="govuk-link">Change school</a></p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "../homepage"
        },
        {
          html: pageName,
          href: "#"
        }
      ]
    }) }}

{% endblock %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "../homepage"
      },
      {
        html: pageName,
        href: "#"
      }
    ]
  }) }}

{% block content %}
    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        
        <!-- PAGE TITLE: Lifecycle stage name -->

        <h1 class="govuk-heading-l">Report spending and activities</h1>
        <p class="govuk-body">You can report your estate's spending and activities to help you track the progress of your estate's maintenance and long-term, strategic plan.</p>

        

        
        <h2 class="govuk-heading-m">Capital Spend Survey</h2>
        <p class="govuk-body">You can report your use of School Condition Allocation (SCA) funding through the <a href="https://dfe-capital2.microsoftcrmportals.com/capital-spend-survey/" class="govuk-link">Capital Spend Survey (CSS) portal</a>.</p>
        
        <h2 class="govuk-heading-m">Condition Improvement Fund (CIF)</h2>
        <p class="govuk-body">You must report the progress of your application throughout its lifecycle through the <a href="https://dfe-capital.microsoftcrmportals.com/SignIn?returnUrl=%2F" class="govuk-link">Condition Improvement Fund (CIF) portal</a>.</p>
        
        <h2 class="govuk-heading-m">Further Education (FE) Monitoring</h2>
        <p class="govuk-body">You can manage your Capital FE and post-16 projects and submit your monitoring returns through the <a href="https://dfe-capital2.microsoftcrmportals.com/SignIn?ReturnUrl=%2Fraac-home%2F" class="govuk-link">FE Monitoring portal</a>.</p>
        
        
        <h2 class="govuk-heading-m">RAAC monitoring tool</h2>
        <p class="govuk-body">When you are taking steps to confirm RAAC is present using a suitably qualified building professional, you should immediately inform the Department for Education using the <a href="https://forms.office.com/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-WWPFFHv97pBvSgiur9dPUtUNDdVTEwyR0NKSjFMOFc0UUlERTdMRlhBRyQlQCN0PWcu" class="govuk-link">DfE Structural Issues form</a>.</p>

      </div>


      
    </div>

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
