{% extends "layouts/main.html" %}

{% set pageName="Understand the condition of your estate" %}

<!-- Change "selectedNav" if appropriate -->

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Home",
  "service": {
    "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Ed Stait"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
  "primaryLinks": [{
    "url": "../homepage",
    "label": "Home"
  }, {
    "url": "../contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "../report-an-emergency",
    "label": "Report an emergency"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Folkstone Academy" %}
{% set selectedSchoolLocation = "Cambridge" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body-s" style="margin-bottom: 6px; padding: 12px;">
              <span class="govuk-body-m" style="margin-right: 20px">
                <strong>{{ selectedSchoolName }}</strong>
              </span>
              <span style="margin-right: 20px">{{ selectedSchoolLocation }}</span>
              <a href="/v1/check-schools" class="govuk-link">Change school</a>
            </p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

    {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

      {{ govukBreadcrumbs({
          items: [
            {
              text: "Home",
              href: "../homepage"
            },
            {
              html: pageName,
              href: "#"
            }
          ]
        }) }}

        {% endblock %}
        {% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ pageName }}
        </h1>
        
        <p class="govuk-body-l">To manage your school estate effectively, you need a clear understanding of its condition.</p>
        <p class="govuk-body-l">This will help you plan strategically, maintain and improve your buildings.</p>
        
          <p class="govuk-body">Estate management responsibilities include:</p>

          <ul class="govuk-body govuk-list govuk-list--bullet">
            <li>carrying out regular condition surveys</li>
            <li>completing statutory inspections and assessments</li>
            <li>managing materials like asbestos safely</li>
            <li>ensuring compliance with health, safety, and fire regulations</li>
            <li>keeping an up-to-date asset register</li>
            <li>understanding legal interests and land ownership</li>
          </ul>

        <p class="govuk-body">Read our estate <a class="govuk-link" href="#">management standards framework</a> for more information.</p>

          
        <h2 class="govuk-heading-m">Commission a condition report</h2>
        <p class="govuk-body">To understand the physical condition of buildings in your estate, you can 
          commission your own a condition survey. Condition surveys help you:
        </p>

        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li>identify what work is needed to maintain the estate</li>
          <li>consider how much works might cost</li>
          <li>prioritise work within available funds</li>
          <li>understand if the nature of the buildings change</li>
        </ul>

        <p class="govuk-body">You can use <a class="govuk-link" href="#">DfE approved suppliers</a>  do this.</p>

        <h2 class="govuk-heading-m">Download your Condition Data Collection (CDC) reports</h2>
        <p class="govuk-body">CDC2 data will provide a comprehensive picture of the condition of the school 
          estate in England. CDC2 will help:</p>

          <ul class="govuk-body govuk-list govuk-list--bullet">
            <li>provide DfE with an up-to-date evidence base</li>
            <li>inform future condition funding allocations</li>
            <li>help prioritise investment in the school estate to where it is most needed</li>
            <li>identify school buildings for inclusion in rebuilding programmes</li>
            <li>responsible bodies, and their schools, benefit from capital allocations 
              based on a consistent assessment across key elements of condition need</li>
            <li>DfE target aggregated funding allocation at responsible body level</li>
          </ul>

        <p class="govuk-body">Learn more about the <a class="govuk-link" href="#">Condition Data Collection 2 (CDC2) programme</a>.</p>

        <!-- Condition data reports table -->
        <table>
          <td><img width="100px" src="/public/images/icon-png.png" alt=""></td>
          <td>
            <a class="govuk-link" href="#">Download the CDC2 report for [School name]</a>
            <p class="govuk-body">PDF, X KB, X pages</p>
            <p class="govuk-body-s">This file may not be suitable for users of assistive technology</p>
            <p class="govuk-body-s"><a class="govuk-link" href="#">Request an accessible format</a></p>
            <p class="govuk-body-s"><a class="govuk-link" href="#">Learn more about CDC1</a></p>
          </td>
        </table>

        <table>
          <td><img width="100px" src="/public/images/icon-png.png" alt=""></td>
          <td>
            <a class="govuk-link" href="#">Download the CDC1 report for [School name]</a>
            <p class="govuk-body">PDF, X KB, X pages</p>
            <p class="govuk-body-s">This file may not be suitable for users of assistive technology</p>
            <p class="govuk-body-s"><a class="govuk-link" href="#">Request an accessible format</a></p>
            <p class="govuk-body-s"><a class="govuk-link" href="#">Learn more about CDC1</a></p>
          </td>
        </table>


      </div>


      <!-- Related content LINKS -->
      <div class="govuk-grid-column-one-third">

        <aside class="dfe-aside">
          <h2 class="govuk-heading-m">Related content</h2>
          <ul class="govuk-list govuk-list--spaced">
            <li><a href="#" class="govuk-link">Public Sector Decarbonisation Scheme</a></li>
            <li><a href="#" class="govuk-link">Heat and Building Strategy (accessible webpage)</a></li>
            <li><a href="#" class="govuk-link">Understanding and managing your land and buildings</a></li>
            <li><a href="#" class="govuk-link">The information you need to know about your estate</a></li>
            <li><a href="#" class="govuk-link">Net Capacity Assessment (NCA) programme</a></li>
            <li><a href="#" class="govuk-link">Performance management and sustainability</a></li>
          </ul>
        </aside>

      </div>

    </div>

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
