{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "/lifecycle-pages"
}) }}

{% endblock %}

{% block content %}

<div class="dfe-grid-row">
  
  <div class="dfe-grid-column-two-thirds">


    <h1 class="dfe-heading-xl">{{lifeCycleContentPage.pageTitle}}</h1>

    <p class="govuk-body-l">{{lifeCycleContentPage.pageContent.pageBlurb}}</p>
    <ul class="govuk-list govuk-list--bullet">

      <li>
        <p class="govuk-body">{{lifeCycleContentPage.pageContent.listItem1}}</p>
      </li>
      <li>
        <p class="govuk-body">{{lifeCycleContentPage.pageContent.listItem2}}</p>
      </li>
      <li>
        <p class="govuk-body">{{lifeCycleContentPage.pageContent.listItem3}}</p>
      </li>
    </ul>
  
  </div>

  <div class="dfe-grid-column-one-third" style="background-color: aquamarine; padding: 12px;">
    <h2 class="govuk-heading-l">{{lifeCycleContentPage.pageContent.subHeading1}}</h2>
    <p class="govuk-body">{{lifeCycleContentPage.pageContent.paragraph1}}</p>
  </div>

</div>

<div class="dfe-grid-row" style="margin-bottom: 20px; margin-top: 12px;">
  <div class="dfe-grid-column-two-thirds" style="background-color: aquamarine; padding-right: 48px;">
    <h2 class="govuk-heading-m">{{lifeCycleContentPage.pageContent.subHeading2}}</p>
  </div>
</div>

<div class="dfe-grid-row" style="margin-bottom: 20px; margin-top: 12px;">
  <div class="dfe-grid-column-two-thirds" style="background-color: aquamarine; padding-right: 48px;">
    X
  </div>
</div>


{% endblock %}