{% extends "layouts/sub-page.html" %}

{% set pageName="Trust dashboard" %}
{% set trustName="[Trust name]" %}

{% block header %}

<nav class="app-subnav" style="background-color: #003a69; margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <table style="margin-bottom: 0px;">
        <td>
          <p class="govuk-body-s" style="color: #fff;"><a class="govuk-link" href="../prototype-index" style="color: #fff;">{{serviceName}}</a></p>
        </td>

        <td style="text-align: right;">
          <p class="govuk-body-s" style="color: #fff;">Signed in as <strong>{{data.userName}}</strong><a class="govuk-link" style="color: #fff; text-decoration: none;" href="../prototype-index"> Sign out</a></p>
        </td>

    </table>
    </div>
  </div>
</nav>

<nav class="app-subnav">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <table style="margin-bottom: 0px;">
        <td>
          <p class="govuk-body"><strong>{{trustName}}</strong></p>
        </td>

        <td style="text-align: right;">
          <p class="govuk-body"><a class="govuk-link" href="../school-page-template">Change school</a></p>
        </td>

    </table>
    </div>
  </div>
</nav>

<nav class="app-left-nav">
  
      <ul>
        
        <h3>Contents</h3>

        {% for lifeCycleContentPage in data.lifeCycleContentPages %}
        <li>
          <a href="?{{lifeCycleContentPage.shortLifecycleStageName}}">
            <h4>{{ lifeCycleContentPage.shortLifecycleStageName }}</h4>
          </a>
        </li>

        <ul>

          <li>
            <p class="govuk-body"><a href="">Tools and resources</a></p>
          </li>

          <li>
            <p class="govuk-body"><a href="">Guidance</a></p>
          </li>
  
        </ul>

        {%endfor%}

      </ul>


    
    

</nav>

{% endblock %}

{% block content %}

<div class="dfe-width-container" style="margin: 0px;">
  <div class="dfe-grid-row" style="margin: 0px;">

    <div class="dfe-grid-column-one-quarter" style="margin: 0px; padding: 0px;">
      
      {% for lifeCycleContentPage in data.lifeCycleContentPages %}
      
      <nav class="dfe-vertical-nav" style="padding: 0px;">

        <ul class="prototype-dashboard-vertical-nav">
          <li>
            <a href="?{{lifeCycleContentPage.shortLifecycleStageName}}" style="text-decoration: none;">
              <h4 style="margin-bottom: 0px;">{{ lifeCycleContentPage.shortLifecycleStageName }}</h4>
            </a>

              
          </li>
        </ul>

      </nav>
      
      {% endfor %}
    </div>

    <div class="dfe-grid-column-three-quarters">

      <p class="govuk-body">[Page content coming soon]</p>

      <h4>Tools and resources</h4>

      {% for lifeCycleContentPage in data.lifeCycleContentPages %}

      {{ lifeCycleContentPage.pageTools }}

      {% endfor %}
      

    </div>


  

  </div>
</div>

{% endblock %}