{% extends "layouts/main.html" %}

{% set pageName="Documentation" %}

{%block content%}

<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">How we got here</h1>
      <p class="govuk-body-l">Through an iterative process, we raised the fidelity for the prototype based on each round
        of research.</p>

      <h2 class="govuk-heading-m">Current iteration (iteration 3)</h2>

      <p class="govuk-body"><a href="prototype-index" target="_blank">A high fidelity prototype</a> created with the aim to validate the boundary between public facing content and interactions for signed in users.</p>
      <div style="border: solid, 2px; padding: 12px;"><p class="govuk-body">This prototype is being taken to research with users with low engagement with DfE services in early March 2025.</p></div>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">      

        <h2 class="govuk-heading-m">Iteration 2</h2>

      <p class="govuk-body"><a
          href="https://www.figma.com/proto/bZUfr0UdaXP31q1hnBZAQs/Ed-Estates-%2F-Estate-Manager-Services-%2F-Sp-3-%2F-Concept-Testing?kind=proto&node-id=5472-2797&page-id=5472%3A2796&scaling=min-zoom&starting-point-node-id=5472%3A2797&hotspot-hints=0&disable-default-keyboard-nav=1&hide-ui=1"
          target="_blank">A low fidelity prototype</a> created with the aim to validate the information architecture
        with Operational staff in Estates Management.</p>


      <h2 class="govuk-heading-m">Iteration 1</h2>
      <p class="govuk-body"><a
          href="https://www.figma.com/proto/bZUfr0UdaXP31q1hnBZAQs/Ed-Estates-%2F-Estate-Manager-Services-%2F-Sp-3-%2F-Concept-Testing?node-id=5004-2544&node-type=canvas&t=oaM3BbMV5qH7U3Rz-0&scaling=min-zoom&content-scaling=fixed&page-id=2598%3A9135&starting-point-node-id=5004%3A2544&hide-ui=1"
          target="_blank">A low fidelity prototype</a> created with the aim to validate the information architecture
        with Strategic staff in Estates Management.</p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-s">Prior to iteration 1, we absorbed the following information from alpha</h2>

      <p class="govuk-body-s">As part of the Education Estates end of discovery, we were asked to create a "vision
        piece" to show to the Minister. This needs to indicate where we could aim to get 3 to 5 years from now assuming
        a underpinning policy/systems/data work is done behind the scenes.</p>

        <p class="govuk-body-s">It needs to incorporate the ideas, strategies that are already being considered, including a service line concept and how Estates might fit in with DfE Connect (School Account)</p>
        
      <p class="govuk-body-s">In discovery around 20 UR interviews with Responsible bodies were done in addition to desk
        based research (other discoveries and internal interviews).

        Needs chime with findings from School Account and other research. For example, users need clear and concise
        instructions on what they must do, they need certainty on when bid processes start/end, they need collaboration
        with DfE to understand policy intent and to operationalise it.
         No UR done with the prototype below itself: t needs a lot of work and iteration, and we expect it would change
        a lot in that time - but we've tried to copy existing pieces of design which hopefully have been well-researched
        and used</p>



        
        <h3>Research conducted</h3>
        <p>In discovery around 20 UR interviews with Responsible bodies were done in addition to desk based research (other discoveries and internal interviews).</p>
        <p>Needs chime with findings from School Account and other research. For example, users need clear and concise instructions on what they must do, they need certainty on when bid processes start/end, they need collaboration with DfE to understand policy intent and to operationalise it.</p>
        <p>No UR done with the prototype below itself: it needs a lot of work and iteration, and we expect it would change a lot in that time - but we've tried to copy existing pieces of design which hopefully have been well-researched and used</p>

        <h3>Business needs</h3>
        <p>As DfE we need reassurance RBs are on top of their estates, have policies and strategies in place and are implementing DfE's Good Estates Management for Schools (GEMS) guidance.</p>
        <p>As DfE we need an up to date understanding of the condition of EEs, so that we can prioritise / target funding. (current DfE condition data is lighter touch / higher level than condition data that RBs have for their own needs)</p>
        <p><strong>Hypothesis:</strong> RBs want to see what data DfE holds and are happy to provide a more accurate picture of their estate. This info could be used to support any estate funding bids/applications.</p>


    </div>
  </div>

</div>


{% endblock %}