{% extends "layouts/main.html" %}

{% set pageName="Home" %}


{% block beforeContent %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

{% endblock %}

{% block content %}

<div class="dfe-grid-row">

  <div class="dfe-grid-column-one-quarter">

    <nav class="dfe-vertical-nav">

      <h2 class="dfe-vertical-nav--section-header">Nav title</h2>

      {% for lifeCycleContentPage in data.lifeCycleContentPages %}
   
      <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item">
          <a class="dfe-vertical-nav__link" href="/">{{lifeCycleContentPage.pageTitle}}</a>
        </li>
      </ul>

    {% endfor %}

    <h2 class="dfe-vertical-nav--section-header">Other</h2>

    </nav>


  </div>

  <div class="dfe-grid-column-three-quarters">

    <h1 class="dfe-heading-m">Page title</h1>
    <h3 class="dfe-heading-s">Heading</h3>
    <h3 class="dfe-heading-s">Heading</h3>
    <h3 class="dfe-heading-s">Heading</h3>

    


    

  </div>


</div>

<!--<p>{{data | dump}}</p>-->

{% endblock %}