{% extends "layouts/sub-page.html" %}

{% set pageName="Guidance" %}

{% block header %}

{{ header({
    "showNav": "true",
    "showSearch": "true",
    "showHeaderActionLinks": "true",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "selectedNav": "Guidance",
    "service": {
      "name": "Manage and maintain education estates",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "Sign in"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "/",
        "label" : "Home"
      },
      {
        "url"  : "tools-and-resources",
        "label" : "Tools and resources"
      }, {
        "url"  : "news-and-policy-updates",
        "label" : "News and policy updates"
      },
      {
        "url"  : "contact-us-for-support",
        "label" : "Contact us for support"
      }
    ]
  })
}}



<div class="dfe-content-page--header govuk-!-padding-bottom-4" style="background-color:#EAF2F6;">
  <div class="dfe-width-container">
    <div class="dfe-grid-row govuk-!-padding-top-7">
      <div class="dfe-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Guidance</h1>
        <p class="govuk-body">[Content coming soon]</p>
      </div>
    </div>
  </div>
</div>



{% endblock %}







{% block content %}


<div class="dfe-width-container">
  <div class="dfe-grid-row">

    <div class="dfe-grid-column-one-quarter">
      
      <h3 class="govuk-heading-s">Contents</h3>
      {% for lifeCycleContentPage in data.lifeCycleContentPages %}
      
      <nav class="dfe-vertical-nav">

        <ul class="dfe-vertical-nav__section">
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link" href="/content/{{lifeCycleContentPage.pageURL}}">
              <h4 style="margin-bottom: 0px;">{{ lifeCycleContentPage.pageTitle }}</h4>
            </a>
          </li>
        </ul>

      </nav>
      
      {% endfor %}
    </div>

    <div class="dfe-grid-column-three-quarters">


      [Content coming soon]

    </div>
  

  </div>
</div>

{% endblock %}