
<!--

1. DUPLICATE THIS PAGE
2. Populate it with appropriate content
3. Push changes to the test branch
4. Create a pull request

 -->

 {% extends "layouts/main.html" %}

{% set pageName="Understand the condition of your estate" %}

{% block header %}

<!-- Change "selectedNav" if appropriate -->

{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  
  "selectedNav": view,

  
  "service": {
    "name": "Manage and maintain education estates",
    "serviceUrl": "#"
  },
  "headerActionLinks": [
    {
      "url"  : "#",
      "label" : "Sign out"
    }
  ],
  
  
  "primaryLinks": [
      {
      "url"  : "homepage",
      "label" : "Home"
    },
    {
      "url"  : "report-an-emergency",
      "label" : "Report an emergency"
    },
    {
      "url"  : "contact-us-for-support",
      "label" : "Contact us for support"
    }

    
  ]
})
}}

<nav class="app-subnav">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <table style="margin-bottom: 0px;">
        <td>
          <p class="govuk-body"><strong>School name</strong>&nbsp;Location</p>
        </td>

        <td style="text-align: right;">
          <p class="govuk-body"><a class="govuk-link" href="#">Change school</a></p>
        </td>

    </table>
    </div>
  </div>
</nav>

<div class="dfe-width-container">
  <div class="govuk-grid-row">

  
  </div>
</div>



{% endblock %}


{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "../homepage"
}) }}

{% endblock %}


{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        
        <!-- PAGE TITLE: Lifecycle stage name -->

        <h1 class="govuk-heading-xl">[Life cycle stage]</h1>
        <p class="govuk-body-l">[Page intro]</p>

        <!-- Legal responsibilities are documented in a word document -->
        <h2 class="govuk-heading-m">Your legal responsibilities</h2>
        <p class="govuk-body">[Copy from word doc]</p>

        <h2 class="govuk-heading-m">[Add further subheadings as needed]</h2>


      </div>


      <!-- Use this section for related guidance links -->
      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-s">Related guidance</h1>
        <p class="govuk-body"><a href="#" class="govuk-link">[Link]</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">[Link]</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">[Link]</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">[Link]</a></p>

      </div>

    </div>



  </main>
</div>

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
