{% extends "layouts/main.html" %}

{% set pageName="Sign in using DfE Sign in" %}

{% block header %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "index",
  serviceName: "DfE Sign In"
}) }}
{% endblock %}

{% block content %}


<div class="dfe-width-container">

    <div class="dfe-grid-row">

        <div class="dfe-grid-column-two-thirds">

            <h1 class="dfe-heading-l">Department for Education Sign-in</h1>

            <p class="govuk-body">Department for Education (DfE) Sign-in is how schools and other education
                organisations access DfE online services.</p>
            <p class="govuk-body">To access DfE online services, you'll either need:</p>

            <ul class="govuk-body govuk-list govuk-list--bullet">
                <li>an existing DfE Sign-in account</li>
                <li>to create a DfE Sign-in account if you haven't used DfE Sign-in before</li>
            </ul>

        </div>

        
        <div class="dfe-grid-column-two-thirds" style="margin-top: 40px;">
            {% from "govuk/components/input/macro.njk" import govukInput %}

            {{ govukInput({
                label: {
                    text: "Email address"
                },
                classes: "govuk-input--width-20",
                id: "prototype-user-email-address",
                name: "protoUserEmailAddress"
            }) }}

            {{ govukInput({
                label: {
                    text: "Password"
                },
                classes: "govuk-input--width-20",
                id: "prototype-user-password",
                name: "protoUserPassWord"
            }) }}

        </div>

            
    </div>

    <div class="dfe-grid-row" style="margin-top: 40px;">
        <div class="dfe-grid-column-two-thirds">
            {% from "govuk/components/button/macro.njk" import govukButton %}
            
            {{ govukButton({
                text: "Continue",
                href: "/v1/homepage",
                isStartButton: false
            }) }}

        </div>
    </div>
    {{ data.schools | dump }}
</div>

{% endblock%}

