{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}



<div class="govuk-width-container">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">
      <h1 class="dfe-heading-l" style="margin-bottom: 12px;">
        <span class="govuk-caption-l">Prototype version 1</span>
        Estate manager services
        
      </h1>

      <h2 class="dfe-heading-s" style="margin-bottom: 12px;">
        What's changed from the previous iteration
      </h2>

      <ul class="">
        <li>XXX</li>
        <li>XXX</li>
        <li>XXX</li>
      </ul>
    
      <h2 class="dfe-heading-s" style="margin-bottom: 12px;">
        Our assumptions while making this prototype
      </h2>

      <ul class="">
        <li>XXX</li>
        <li>XXX</li>
        <li>XXX</li>
      </ul>

      <h2 class="dfe-heading-s" style="margin-bottom: 12px;">
        What we learned from research
      </h2>

      <ul class="">
        <li>XXX</li>
        <li>XXX</li>
        <li>XXX</li>
      </ul>

    </div>

    <div class="govuk-grid-column-three-quarters">
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Start prototype",
          href: "index"
        }) }}

    </div>



  </div>
</div>

<!--<p>{{data | dump}}</p>-->

{% endblock %}