{% extends "layouts/main.html" %}

{% set pageName = "Manage and maintain education estates" %}

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Home",
  "service": {
    "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Alex Smith"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
  "primaryLinks": [{
    "url": "./homepage",
    "label": "Home"
  }, {
    "url": "./contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "./report-an-incident",
    "label": "Report an urgent issue"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Folkstone Academy" %}
{% set selectedSchoolLocation = "Cambridge" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body-s" style="margin-bottom: 6px; padding: 12px;"><span class="govuk-body-m" style="margin-right: 20px"><strong>{{ selectedSchoolName }}</strong></span><span style="margin-right: 20px">{{ selectedSchoolLocation }}</span><a href="/v1/check-schools" class="govuk-link">Change school</a></p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

{% endblock %}


{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Welcome {{ data['user-name'] if data['user-name'] else 'Alex Smith' }}</h1>
        
        <p class="govuk-body-l govuk-!-margin-bottom-3">Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
          <li>access funding</li>
          <li>review your condition data from DfE</li>
          <li>explore available services, guidance, and support</li>
        </ul>

        {% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
        
        {{ card({
          cards: [{
            "heading": "Understand the condition of your estate",
            "link": "pages/understand-the-condition",
            "imageCard": false,
            "headingLevel": "3",
            "linkCard": true,
            "openInNewTab": false,
            "description": "Understand the condition of your estate to develop a strategic long-term plan for your estate and make maintenance plans."
          }, 
          {
            "heading": "Plan your estate maintenance and improvements",
            "link": "pages/plan",
            "imageCard": false,
            "headingLevel": "3",
            "linkCard": true,
            "openInNewTab": false,
            "description": "Plan ongoing maintenance and look at the key areas in your estate that need improvement."
          }, 
          {
            "heading": "Explore the funding options for your estate",
            "link": "pages/fund",
            "imageCard": false,
            "headingLevel": "3",
            "linkCard": true,
            "openInNewTab": false,
            "description": "Find out what sources of funding are available for capital projects and maintenance."
          },
          {
            "heading": "Commission and oversee construction and maintenance work",
            "link": "pages/commission",
            "imageCard": false,
            "headingLevel": "3",
            "linkCard": true,
            "openInNewTab": false,
            "description": "[Short description]"
          }, 
          {
            "heading": "Report on spending and activities",
            "link": "pages/report",
            "imageCard": false,
            "headingLevel": "3",
            "linkCard": true,
            "openInNewTab": false,
            "description": "Report your estate's spending and activities to help you track the progress of your estate's maintenance and long-term, strategic plan."
          }

          ]
        }) }}
      </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/dfefrontend.min.js"></script>
  <script src="/public/javascripts/schools.js"></script>
{% endblock %}