{% extends "layouts/main.html" %}

{% set pageName="Report an urgent issue" %}

<!-- Change "selectedNav" if appropriate -->

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Report an urgent issue",
  "service": {
    "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Alex Smith"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
  "primaryLinks": [{
    "url": "./homepage",
    "label": "Home"
  }, {
    "url": "./contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "./report-an-incident",
    "label": "Report an urgent issue"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Example School" %}
{% set selectedSchoolLocation = "Surbiton" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body-s" style="margin-bottom: 6px; padding: 12px;"><span class="govuk-body-m" style="margin-right: 20px"><strong>{{ selectedSchoolName }}</strong></span><span style="margin-right: 20px">{{ selectedSchoolLocation }}</span><a href="#" class="govuk-link">Change school</a></p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

{% endblock %}


{% block content %}
    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        
        <!-- PAGE TITLE: Lifecycle stage name -->

        <h1 class="govuk-heading-l">{{pageName}}</h1>

        <p class="govuk-body">Recognising and reporting structural issues early helps prevent risks to 
          students, staff, and visitors.</p>
        <p class="govuk-body">Schools and responsible bodies should have clear procedures in place for
          assessing, managing, and reporting serious issues with their buildings.</p>
        <p class="govuk-body">For more information, read our <a href="https://www.gov.uk/government/publications/emergency-planning-and-response-for-education-childcare-and-childrens-social-care-settings/76cd184d-ae77-4dc4-b116-f7ea1449c379">emergency planning and response for
          education, childcare, and children's social care settings guidance</a>.</p>
      

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Report an issue",
          href: "https://forms.office.com/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-WWPFFHv97pBvSgiur9dPUtUNDdVTEwyR0NKSjFMOFc0UUlERTdMRlhBRyQlQCN0PWcu",
          isStartButton: true
        }) }}

      </div>
    </div>

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
