{% extends "layouts/main.html" %}

{% set pageName="Commission and oversee maintenance work" %}

<!-- Change "selectedNav" if appropriate -->

{% block header %}
{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Report an emergency",
  "service": {
    "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Ed Stait"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
  "primaryLinks": [{
    "url": "./homepage",
    "label": "Home"
  }, {
    "url": "./contact-us-for-support",
    "label": "Contact us for support"
  }, {
    "url": "./report-an-emergency",
    "label": "Report an emergency"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Folkstone Academy" %}
{% set selectedSchoolLocation = "Cambridge" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body-s" style="margin-bottom: 6px; padding: 12px;"><span class="govuk-body-m" style="margin-right: 20px"><strong>{{ selectedSchoolName }}</strong></span><span style="margin-right: 20px">{{ selectedSchoolLocation }}</span><a href="/v1/check-schools" class="govuk-link">Change school</a></p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

{% endblock %}


{% block content %}
    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        
        <!-- PAGE TITLE: Lifecycle stage name -->

        <h1 class="govuk-heading-xl">Reporting structural issues or emergencies</h1>
        <p class="govuk-body-l">Recognising and reporting structural issues early helps prevent risks to students, staff, and visitors.</p>
        <p class="govuk-body-l">Schools and responsible bodies should have clear procedures in place for assessing, managing, and reporting serious issues with their buildings.</p>

        <h2 class="govuk-heading-m">Responsibilities for managing risks</h2>
        
        <p class="govuk-body">It is the responsibility of schools and responsible bodies to:</p>
        
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li>conduct regular inspections to identify potential issues early</li>
          <li>take immediate action to mitigate risks where necessary</li>
          <li>ensure compliance with health and safety regulations</li>
          <li>report serious issues through the appropriate channel</li>
          
        </ul>

        <h2 class="govuk-heading-m">When to report</h2>

        <p class="govuk-body">You should report structural issues or emergencies when:</p>

        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li>there is an immediate risk to health and safety, including 
            structural failure or severe damage</li>
          <li>the issue affects the safe operation of the school, such as 
            major flooding, fire damage or severe weather-related 
            damage</li>
          <li>urgent repairs are needed to keep the building safe, 
            functional and compliant</li>
          <li>building conditions need improvement, including roof or
            window repairs, structural damage, or refurbishing worn-
            out facilities</li>
          <li>energy efficiency upgrades are necessary, such as better
            insulation or energy-saving lighting</li>
          <li style="margin-bottom: 40px;">health and safety concerns need addressing, including
            asbestos removal, security enhancements, or upgrading
            new locks</li>
        </ul>



        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Report an issue",
          href: "https://forms.office.com/pages/responsepage.aspx?id=yXfS-grGoU2187O4s0qC-WWPFFHv97pBvSgiur9dPUtUNDdVTEwyR0NKSjFMOFc0UUlERTdMRlhBRyQlQCN0PWcu",
          isStartButton: true
        }) }}

      </div>
    </div>

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
