{% extends "layouts/main.html" %}

{% set pageName="Start now - Manage and maintain education estates" %}

{% block header %}

<!-- Change "selectedNav" if appropriate -->

{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  
  "selectedNav": view,

  
  "service": {
    "name": "Manage and maintain education estates",
    "serviceUrl": "#"
  },
  "headerActionLinks": [
    {
      "url"  : "auth/sign-in",
      "label" : "Sign in"
    }
  ]
})
}}

{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}
  
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        <h1 class="dfe-heading-xl">Manage your education estate</h1>
        <p class="govuk-body">If you are responsible for overseeing or maintaining education estates, sign in to this service to:</p>
        
        <ul class="govuk-body govuk-list govuk-list--bullet">
          <li><p class="govuk-body">plan maintenance and improvements</p></li>
          <li><p class="govuk-body">understand the condition of your estate</p></li>
          <li><p class="govuk-body">report on spending</p></li>
          <li><p class="govuk-body">explore funding options</p></li>
          <li><p class="govuk-body">get guidance on planning and construction</p></li>
          <li><p class="govuk-body">find out how to get emergency support</p></li>
        </ul>

        <h2 class="govuk-heading-m">Accessing the service</h2>
        <p class="govuk-body">You will need to:</p>
        <ul class="govuk-body govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li><p class="govuk-body">access through an existing DfE Sign-in account</p></li>
          <li><p class="govuk-body"><a class="govuk-link" href="https://profile.signin.education.gov.uk/register" target="_blank">create a DfE Sign-in account</a></p></li>
        </ul>

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Start now",
          href: "/v1/auth/sign-in",
          isStartButton: true
        }) }}
        

      </div>

      <!-- Use this section if guidance links are to be needed on the page -->
      <div class="govuk-grid-column-one-third">

        <h2 class="govuk-heading-s">Related guidance</h1>
        <p class="govuk-body"><a href="#" class="govuk-link">GEMS (confirm this link?)</a></p>
        <p class="govuk-body"><a href="#" class="govuk-link">Asbestos (confirm this link?)</a></p>


      </div>


    </div>

  </main>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}