{% extends "layouts/main.html" %}

{% set pageName="Manage and maintain education estates" %}

{% block header %}


{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": view,
  "service": {
    "name": "Manage and maintain education estates",
    "serviceUrl": "#"
  },
  "headerActionLinks": [
    {
      "url"  : "#",
      "label" : "Sign out"
    }
  ],
  "primaryLinks": [
      {
      "url"  : "homepage",
      "label" : "Home"
    },
    
    {
      "url"  : "contact-us-for-support",
      "label" : "Contact us for support"
    },

    {
      "url"  : "report-an-emergency",
      "label" : "Report an emergency"
    }
  ]
})
}}

<nav class="app-subnav">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <table style="margin-bottom: 0px;">
        <td>
          <p class="govuk-body"><strong>School name</strong>&nbsp;Location</p>
        </td>

        <td style="text-align: right;">
          <p class="govuk-body"><a class="govuk-link" href="#">Change school</a></p>
        </td>

    </table>
    </div>
  </div>
</nav>

<div class="dfe-width-container">
  <div class="govuk-grid-row">

  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}
  </div>
</div>



{% endblock %}


{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Welcome Ed Stait</h1>
        <p class="govuk-body-l">Use this service to access Funding, review your condition data from DfE, and explore available services, guidance, and support.</p>

        {% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
        {{ card({
          cards: [
              {
                  "heading": "Know the condition of your estate",
                  "link": "pages/know-the-condition",

                  "imageCard": false,
                  "headingLevel": "3",
                  "linkCard": true,
                  "openInNewTab": false,
                  
                  "description": "Understand our expectations and view the condition data we hold on your setting.",
                  
                  "meta": ""
              },
              {
                "heading": "Devise estates plan to prioritise maintenance / improvements",
                "link": "pages/plan",

                "imageCard": false,
                "headingLevel": "3",
                "linkCard": true,
                
                "openInNewTab": false,
                
                "description": "[A short description for the card.]",
                "meta": ""
            },

            {
              "imageCard": false,
              "headingLevel": "3",
              "linkCard": true,
              "link": "pages/fund",
              "openInNewTab": false,
              
              "heading": "Get funding to implement your plan",
              
              "description": "[A short description for the card.]",
              "meta": ""
          },

          {
            "imageCard": false,
            "headingLevel": "3",
            "linkCard": true,
            "link": "pages/commission",
            "openInNewTab": false,
            
            "heading": "Commission and oversee construction / maintenance work",
            
            "description": "[A short description for the card.]",
            "meta": ""
        },

        {
          "imageCard": false,
          "headingLevel": "3",
          "linkCard": true,
          "link": "pages/commission",
          "openInNewTab": false,
          
          "heading": "Report on spending",
          
          "description": "[A short description for the card.]",
          "meta": ""
      }


          ]
      }) }}


      </div>



  </main>
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
  <script src="/assets/js/schools.js"></script>

{% endblock %}