{% extends "layouts/main.html" %}

{% set pageName="Select Your School" %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-xl">Select Your School</h1>
        <p class="govuk-body-l">Please choose the school you want to manage.</p>

        <form method="post" action="/set-selected-school-v1">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">Your Schools</h2>
              </legend>

              {% for school in schools %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" type="radio" id="school-{{ loop.index }}" name="schoolURN" value="{{ school.schoolURN }}" required>
                  <label class="govuk-label govuk-radios__label" for="school-{{ loop.index }}">
                    {{ school.schoolName }}
                  </label>
                </div>
              {% endfor %}

            </fieldset>
          </div>

          <button class="govuk-button" type="submit">Continue</button>
        </form>

      </div>
    </div>
  </main>
</div>

<table class="govuk-table">
  <thead>
    <tr>
      <th>School Name</th>
      <th>Location</th>
      <th>Part Of</th>
      <th>Condition</th>
      <th>Condition Date</th>
    </tr>
  </thead>
  <tbody>
    {% for school in schools %}
    <tr>
      <td>{{ school.schoolName }}</td>
      <td>{{ school.schoolLocation }}</td>
      <td>{{ school.schoolPartOf }}</td>
      <td>{{ school.schoolConditionTag }}</td>
      <td>{{ school.schoolConditionDate }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>





<form method="post" action="/set-selected-school">
  {{ govukRadios({
    name: "schoolURN",
    fieldset: {
      legend: {
        text: "Select Your School",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      { value: "123456789", text: "Folkestone Academy" },
      { value: "223456789", text: "Aspen 2" },
      { value: "323456789", text: "Dover Christ Church Academy" }
    ]
  }) }}

  {{ govukButton({ text: "Continue" }) }}
</form>



{% endblock %}



