{% extends "layouts/main.html" %}

{% set pageName="Condition data for [School name]" %}

{% block header %}

<nav class="dfe-topnav" name="{{serviceName}}">

  <div class="govuk-width-container">

    <div class="flex-nav">
      <ul class="flex-left">
        <li>
          <a href="/" id="services-tab"><i class="fa-brands fa-github" aria-hidden="true"></i>{{serviceName}}</a>
        </li>
      </ul>

      <ul class="flex-right">
        <li>
          <a href="#">Signed in as <strong>{{data.userName}}</strong></a>
        </li>

        <li>
          <a href="../">Sign out</a>
        </li>
      </ul>

    </div>


  </div>



</nav>

<nav class="app-subnav">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <table>
        <td>
          <p class="govuk-body"><strong>{{school.schoolName}}</strong>&nbsp;{{school.schoolLocation}}</p>
        </td>

        <td style="text-align: right;">
          <p class="govuk-body"><a class="govuk-link" href="../school-page-template">Change school</a></p>
        </td>

    </table>
    </div>
  </div>
</nav>

{% endblock %}







{% block content %}

<div class="dfe-width-container">
  
    <div class="dfe-grid-row">
      <div class="dfe-grid-column-two-thirds">

        <h1 class="dfe-heading-l">Condition data for your school</h1>

        <img src="../public/images/cdc-graph-wireframe.png" width="600px">

      </div>

      <div class="dfe-grid-column-one-third">

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
        text: "Compare school condition",
        href: '/compare'
        }) }}


      </div>

    </div>
    
    <div class="dfe-grid-row">
      <div class="dfe-grid-column-two-thirds">



        {% from "govuk/components/table/macro.njk" import govukTable %}

        {{ govukTable({
            caption: "Priorities for [School name]",
            captionClasses: "govuk-body-l",
            firstCellIsHeader: false,

            rows: [
          [
            {
              html: '<strong class="govuk-tag govuk-tag--red">High</strong>'

            },
            {
              text: "Upload your most recent professional condition survey",
              classes: 'govuk-body'
              
            },
            {
              html: '<a class="govuk-link">Action</a>'
            }
          ],
          
          [
            {
              html: '<strong class="govuk-tag govuk-tag--orange">Medium</strong>'

            },
            {
              text: "Create a maintenance plan for all assets within the school",
              classes: 'govuk-body'
            },
            {
              html: '<a class="govuk-link">[Action]</a>'
            }
          ],
          
          [
            {
              html: '<strong class="govuk-tag govuk-tag--orange">Medium</strong>'

            },
            {
              text: "Document your estate's vision, mission and strategy",
              classes: 'govuk-body'
            },
            {
              html: '<a class="govuk-link">[Action]</a>'
            }
          ],
          
          [
            {
              html: '<strong class="govuk-tag">Low</strong>'

            },
            {
              text: "Join the Trust Network",
              classes: 'govuk-body'
            },
            {
              html: '<a class="govuk-link">[Action]</a>'
            }
          ]

          
        ]
        }) }}
        
      </div>
      
      
    </div>

</div>



  <!--<textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8">
    {{data.schools | log}}
  </textarea>-->

{% endblock %}