{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="dfe-heading-xl">{{lifeCycleContentPage.pageTitle}}</h1>

    
    
    

    
    
    <p class="govuk-body-l">{{lifeCycleContentPage.pageContent.pageBlurb}}</p>
    <h5>{{lifeCycleContentPage.pageContent.heading1}}</h5>
    

    <h5>{{lifeCycleContentPage.pageContent.heading2}}</h5>
    
    <h5>{{lifeCycleContentPage.pageContent.heading3}}</h5>
    
    <a href="/content/{{ lifeCycleContentPage.pageURL }}"><p style="margin-bottom: 60px; margin-top: 0px;">Link</p></a>



  </div>
</div>

{% endblock %}