{% extends "layouts/sub-page.html" %}

{% set pageName="School page template" %}

{% block header %}
<nav class="dfe-topnav" name="{{serviceName}}">

  <div class="govuk-width-container">

      <div class="flex-nav">
          <ul class="flex-left">
              <li>
                  <a href="/" id="services-tab"><i class="fa-brands fa-github" aria-hidden="true"></i>{{serviceName}}</a>
              </li>
          </ul>
          
          <ul class="flex-right">
              <li>
                <a href="#">Signed in as <strong>{{data.userName}}</strong></a>
              </li>

              <li>
                <a href="#">Sign out</a>
              </li> 
          </ul>
      
      </div>
      

  </div>
    


</nav>

<div class="dfe-content-page--header" style="background-color:#EAF2F6;">
  <div class="dfe-width-container">
    <div class="dfe-grid-row ">
      <div class="dfe-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="padding-top:16px;">Turner Schools Trust</h1>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="dfe-width-container" style="margin: 0px;">
  <div class="dfe-grid-row" style="margin: 0px;">

    <div class="dfe-grid-column-one-quarter" style="margin: 0px; padding: 0px;">
      
      {% for lifeCycleContentPage in data.lifeCycleContentPages %}
      
      <nav class="dfe-vertical-nav" style="padding: 0px;">

        <ul class="prototype-dashboard-vertical-nav">
          <li>
            <a href="?{{lifeCycleContentPage.shortLifecycleStageName}}" style="text-decoration: none;">
              <h4 style="margin-bottom: 0px;">{{ lifeCycleContentPage.shortLifecycleStageName }}</h4>
            </a>

              <ul class="prototype-dashboard-vertical-nav">
                <li>{{ lifeCycleContentPage.pageSubPages }}</li>
                

                <li>
                  
                  <a href="?{{lifeCycleContentPage.shortLifecycleStageName.pageTools}}" style="text-decoration: none;">
                    <p class="govuk-body" style="margin-bottom: 0px;">
                      Tools and resources
                    </p>
                  </a>

                </li>

                <li>
                  
                  <p class="govuk-body" style="margin-bottom: 0px;">
                    Guidance
                  </p>

              </li>

              </ul>
          </li>
        </ul>

      </nav>
      
      {% endfor %}
    </div>

    <div class="dfe-grid-column-three-quarters">

      <p class="govuk-body">[Page content coming soon]</p>
      <h4>Tools and resources</h4>

      {% for lifeCycleContentPage in data.lifeCycleContentPages %}

      {{ lifeCycleContentPage.pageTools }}

      {% endfor %}
      

    </div>
  

  </div>
</div>

{% endblock %}