{% extends "layouts/main.html" %}

{% set pageName="Documentation" %}

{%block content%}

<div class="govuk-width-container">
  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">How we got here</h1>
        <p class="govuk-body-l">Through an iterative process, we raised the fidelity for the prototype based on each round of research.</p>
        
        <h2 class="govuk-heading-m">Iteration 2</h2>

        <p class="govuk-body"><a href="https://www.figma.com/proto/bZUfr0UdaXP31q1hnBZAQs/Ed-Estates-%2F-Estate-Manager-Services-%2F-Sp-3-%2F-Concept-Testing?kind=proto&node-id=5472-2797&page-id=5472%3A2796&scaling=min-zoom&starting-point-node-id=5472%3A2797&hotspot-hints=0&disable-default-keyboard-nav=1&hide-ui=1" target="_blank">A low fidelity prototype</a> created with the aim to validate the information architecture with Operational staff in Estates Management.</p>
        

        <h2 class="govuk-heading-m">Iteration 1</h2>
        <p class="govuk-body"><a href="https://www.figma.com/proto/bZUfr0UdaXP31q1hnBZAQs/Ed-Estates-%2F-Estate-Manager-Services-%2F-Sp-3-%2F-Concept-Testing?node-id=5004-2544&node-type=canvas&t=oaM3BbMV5qH7U3Rz-0&scaling=min-zoom&content-scaling=fixed&page-id=2598%3A9135&starting-point-node-id=5004%3A2544&hide-ui=1" target="_blank">A low fidelity prototype</a> created with the aim to validate the information architecture with Strategic staff in Estates Management.</p>
        
        
      </div>
    </div>

</div>


{% endblock %}