{% extends "layouts/main.html" %}

{% set pageName="Start now - Manage and maintain education estates" %}

{% block header %}

<!-- Change "selectedNav" if appropriate -->

{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  
  "selectedNav": view,

  
  "service": {
    "name": "Manage and maintain education estates",
    "serviceUrl": "#"
  },
  "headerActionLinks": [
    {
      "url"  : "auth/sign-in",
      "label" : "Sign in"
    }
  ]
})
}}

{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype for a new service. Use the version history below.'
  }) }}
  
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        <h1 class="dfe-heading-xl">Prototype index page</h1>
        <p class="govuk-heading-m">Current version:</p>
        <p class="govuk-body-l"><a href="v1/start-now"><strong>Version 1:</strong> to be taken to testing March 4th - March 7th</p></a>
        
        <p class="govuk-heading-s">Previous versions:</p>
        
        <ul class="govuk-list govuk-list--bullet" style="margin-bottom: 28px;">
          <li>
            <p class="govuk-body" style="color: #505a5f;">Version 0 (initial draft): starting point to EMS's first Heroku prorotype</p>

          </li>
        </ul>

      </div>

    </div>

  </main>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}