{% extends "layouts/main.html" %}

{% block header %}

{{ header({
    "showNav": "true",
    "showSearch": "true",
    "showHeaderActionLinks": "true",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "selectedNav": "Tools and resources",
    "service": {
      "name": "Manage and maintain education estates",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "Sign in"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "/",
        "label" : "Home"
      },
      {
        "url"  : "/tools-and-resources",
        "label" : "Tools and resources"
      }, {
        "url"  : "news-and-policy-updates",
        "label" : "News and policy updates"
      },
      {
        "url"  : "contact-us-for-support",
        "label" : "Contact us for support"
      }
    ]
  })
}}
{% endblock %}

{% set pageName="Tools and resources" %}

{% block content %}

<!-- IMPORTS -->
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

<!--Add imports below -->
<!---->


<div class="dfe-grid-row" style=" padding: 16px; background-color: #ebf2f6; display: block; margin-bottom: 40px;">

  <div class="dfe-grid-column-full">
    
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Estate manager services",
          href: "../index"
        },
        {
          text: "Tools and resources",
          href: "/tools-and-resources"
        }
      ]
    }) }}

  </div>

  <div class="dfe-grid-column-three-quarters">

    

    <h1 class="govuk-heading-l" style="margin-bottom:0.1em;">{{resource.resourceTitle}}</h1>
    <div class="govuk-button-group">

      <strong class="govuk-tag" style=" border: solid,1px; background-color: white; margin-bottom:0.2em; margin-right:12px;">
        {{ resource.resourceType }}
      </strong>

      <strong class="govuk-tag" style="margin-bottom:0.2em; margin-right:12px;">
        {{ resource.resourceFormatUserCentred }}
      </strong>
      
      <p class="govuk-body-s" style="margin-bottom:1em;  margin-top:0.8em;">
        Published: {{ resource.resourcePublishedDate }}
      </p>
    </div>

    
  
  </div>

  <div class="dfe-grid-column-one-quarter">
    
    <div class="govuk-button-group">
      
      {{ govukButton({
        text: "Download"
        }) 
      }}

      {{ govukButton({
        text: "Share",
        classes: "govuk-button--secondary"
      }) }}

    </div>

  </div>

</div>


<div class="dfe-width-container">

  <div class="dfe-grid-row">

      <div class="dfe-grid-column-three-quarters">

        <p class="govuk-body-l" style="margin-bottom:1em;  margin-top:0.8em;">{{resource.resourceContent.resourceIntroBlurb}}</p>
      
        <h5 class="govuk-heading-s">What it is:</h5>
        <p class="govuk-body">{{resource.resourceContent.what}}</p>
        
        <h5 class="govuk-heading-s">Who it is for:</h5>
        <p class="govuk-body">{{resource.resourceContent.who}}</p>
        
        <h5 class="govuk-heading-s">How to use it:</h5>
        <p class="govuk-body">{{resource.resourceContent.how}}</p>

      </div>

  </div>

</div>



{% endblock %}