{% extends "layouts/main.html" %}

{% set pageName="XXXXXXX" %}

{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{% block header %}

{{ header({
    "showNav": "true",
    "showSearch": "true",
    "showHeaderActionLinks": "true",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "selectedNav": "Guidance",
    "service": {
      "name": "Manage and maintain education estates",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "/",
        "label" : "My account"
      },
      {
        "url"  : "../prototype-index",
        "label" : "Sign out"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "/",
        "label" : "Home"
      },

      {
        "url"  : "guidance",
        "label" : "Guidance"
      },

      {
        "url"  : "tools-and-resources",
        "label" : "Tools and resources"
      }, {
        "url"  : "news-and-policy-updates",
        "label" : "News and policy updates"
      },
      {
        "url"  : "contact-us-for-support",
        "label" : "Contact us for support"
      }
    ]
  })
}}


<div class="dfe-content-page--header govuk-!-padding-bottom-4" style="background-color:#EAF2F6;">
  <div class="dfe-width-container">
    <div class="dfe-grid-row govuk-!-padding-top-7">
      <div class="dfe-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Guidance</h1>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Contents</h2>
        <p class="govuk-body">[pages will be listed out here]</p>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Understand the condition of your estate</h1>
        <p class="govuk-body">In order to manage your estate you need to understand the condition of your estate. By understanding the condition you will be able to:</p>
        <ul class="govuk-list--bullet">

          <li>develop a strategic long-term plan for your estate</li>
          <li>have a maintenance plan for improvements</li>
          <li>know what your funding options are</li>

        </ul>

        <h2 class="govuk-heading-m" style="margin-top: 32px; margin-bottom: 32px;">Know your legal responsibilities</h2>
        <p class="govuk-body">You should understand your <a href="#">legal responsibilities when managing the condition of an estate</a>.</p>

        <h2 class="govuk-heading-m" style="margin-top: 32px; margin-bottom: 32px;">Use your Condition Data Collection (CDC) report to better understand your estate</h2>
        <p class="govuk-body">The Condition Data Collection programme is the data gathered by visits made to every government-funded school in England to collect data about the condition of their buildings.</p>
        <p class="govuk-body">Condition data can help you manage your estate and develop strategic and maintenance plans. You can read <a href="#">guidance about the CDC programme</a>.</p>
        <p class="govuk-body">Condition surveys should identify critical elements that might need further investigation. You should ensure that condition surveys include a suitably detailed assessment of your building's structure, to identify possible structural problems and health and safety risks. This may include <a href="#">asbestos</a>, <a href="https://www.gov.uk/government/publications/managing-asbestos-in-your-school-or-college" target="_blank">RAAC (reinforced autoclaved aerated concrete)</a> and other issues associated with older buildings.</p>
        
        <p class="govuk-body"><a href="#">Commission professional survey</a></p>
        <p class="govuk-body"><a href="#">Sign in to see your CDC data</a></p>

        <p class="govuk-body" style="color: magenta;">[Continue pulling content from here]</p>

        <h2 class="govuk-heading-m" style="margin-top: 32px; margin-bottom: 32px;">How understanding the condition of your estate supports you with planning your estates maintenance and improvements</h2>
        <p class="govuk-body">Understanding the condition of the estate helps you make informed decisions about its maintenance and helps with budgeting and estate planning.</p>
        <p class="govuk-body">You should have an understanding of:</p>
        <ul class="govuk-list--bullet">

          <li>the condition of all buildings in the estate</li>
          <li>the cost and priority of any works needed</li>

        </ul>

        <p class="govuk-body">Accurate data about the <a>condition of buildings</a>is the starting point for longer-term maintenance planning. You'll need a variety of information about the estate, including:</p>

        <ul class="govuk-list--bullet">

          <li>a plan of the buildings with useful information such as fire safety measures, location of hydrants, location of utility meters and incoming services</li>
          <li>a plan of the site with utilities information such as mains drainage, stopcocks, cabling and isolation points</li>
          <li>a breakdown of areas by use</li>
          <li>an inventory of important components and their life expectancy, such as boilers and pipework</li>
          <li>up-to-date statutory compliance records</li>
          <li>a schedule of maintenance contracts such as annual portable appliance testing (PAT), gas safety, boiler maintenance and fire measures</li>
          <li>building condition surveys (if available)</li>
          <li><a>asbestos register and asbestos management plan</a></li>
          <li>contacts for regular building works contractors and property services consultants</li>

        </ul>

        <p class="govuk-body">The condition of your estates buildings will help you classify issues into a prioritised list. You can use these prioritisations to create a maintenance plan.</p>



        <h2 class="govuk-heading-m" style="margin-top: 32px; margin-bottom: 32px;">Manage the condition of your estate</h2>
        <p class="govuk-body">Managing the condition of your estate, may include:</p>

        <ul class="govuk-list--bullet">

          <li>overseeing technical assessments of the condition of your estate</li>
          <li>using accurate and up-to-date data on your land and buildings to inform a maintenance strategy and plan that are fit for purpose</li>
          <li>using the maintenance strategy and plan to inform strategic decision-making and budget planning</li>
          <li>ensuring maintenance planning is appropriately prioritised and delivered in line with statutory and regulatory requirements, while minimising the impact on your school operations</li>
          
        </ul>

        <p class="govuk-body">You will prioritise works in your maintenance plan, taking account of:</p>
        <ul class="govuk-list--bullet">

          <li>any legal duties and responsibilities</li>
          <li>relevant procurement legislation and regulations</li>
          <li>works which may impact health, safety or security</li>
          <li>works impacting the envelope of the building, electrical or mechanical services (heating)</li>
          <li>condition grading indicating the likelihood of failure</li>
          <li>risk assessment, including impact of element failure and the consequences of not addressing the need</li>
          <li>available resources</li>
          
        </ul>

        <p class="govuk-body">When planning longer-term works, you should take account of the findings of regular maintenance cycles. This allows you to plan and budget effectively, minimising the risk of failure.</p>
        <p class="govuk-body">Further information is available in <a>estate projects</a>.</p>


        
        
        
        <h2 class="govuk-heading-m" style="margin-top: 32px; margin-bottom: 32px;">Measure the sustainability of the estate</h2>

        <p class="govuk-body">Knowing your estate's suitability and sufficiency helps you make strategic decisions. You should understand how the estate meets your current and future educational requirements.</p>
        <p class="govuk-body">Your estate can help provide a better environment for future generations by enhancing biodiversity, improving air quality and increasing access to and connection with nature.</p>
        <p class="govuk-body">You should have a consistent and challenging approach to:</p>

        <ul class="govuk-list--bullet">

          <li>monitoring, managing and reducing energy, water and waste</li>
          <li>climate action and your carbon footprint</li>
          <li>materials and resources</li>
          <li>nature based solutions</li>
          
        </ul>

        <p class="govuk-body">Find out more about <a>estate sustainability</a>.</p>       

        
      </div>
      
    </div>
  </main>
</div>
</div>


{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}






<p class="govuk-body-l">In order to manage your estate you need to understand the condition of your estate. By understanding the condition you will be able to:</p>
        <ul class="govuk-list--bullet" style="margin-bottom: 32px;">
          <li>develop a strategic long-term plan for your estate</li>
          <li>have a maintenance plan for improvements</li>
          <li>know what your funding options are</li>
        </ul>