
<!--

1. DUPLICATE THIS PAGE
2. Populate it with appropriate content
3. Push changes to the test branch
4. Create a pull request

 -->

{% extends "layouts/main.html" %}


{% set pageName="Estate managers standards framework" %}
{% set subPageForStandardsName ="Deliver and manage your estate projects" %}

{% block header %}

{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": "Home",
  "service": {
    "name": serviceName,
    "serviceUrl": "#"
  },
  "headerActionLinks": [
  {
    "label": "Signed in as Alex Smith"
  },
  {
    "url": "#",
    "label": "Sign out"
  }
  ],
  "primaryLinks": [{
    "url": "#",
    "label": "Home"
  }, {
    "url": "#",
    "label": "Contact us for support"
  }, {
    "url": "#",
    "label": "Report an urgent issue"
  }]
}) }}

{# School selector navigation #}

{% set selectedSchoolName = "Folkstone Academy" %}
{% set selectedSchoolLocation = "Cambridge" %}


<nav class="app-subnav" style="margin-bottom: 0px;">
  <div class="dfe-width-container" style="margin-bottom: 0px;">
    <div class="govuk-grid-row" style="margin-bottom: 0px;">
      <div class="govuk-grid-column-full" style="margin-bottom: 0px;">
        <div class="govuk-grid-row" style="margin-bottom: 0px;">
          
          <div class="govuk-grid-column-three-quarters"style="margin-bottom: 0px;">
            <p class="govuk-body-s" style="margin-bottom: 6px; padding: 12px;"><span class="govuk-body-m" style="margin-right: 20px"><strong>{{ selectedSchoolName }}</strong></span><span style="margin-right: 20px">{{ selectedSchoolLocation }}</span><a href="/v1/check-schools" class="govuk-link">Change school</a></p>
          </div>
          
          <div class="govuk-grid-column-one-quarter" style="text-align: right;">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>


{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
    tag: {
      text: "Alpha"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.'
  }) }}

  {% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: '#'
        },
        {
          html: pageName,
          href: "#"
        },
        {
          html: subPageForStandardsName,
          href: "#"
        }
      ]
    }) }}
{% endblock %}


{% block content %}

    <div class="govuk-grid-row">


      <div class="govuk-grid-column-two-thirds">

        
        <!-- Lifecycle Caption + Page title (Standards)  -->

        <span class="govuk-caption-l">{{ pageName }}</span>
        <h1 class="govuk-heading-l">{{ subPageForStandardsName }}</h1>

        <!-- Page content here  -->
        <p class="govuk-body">Every Responsible Body has legal duties to ensure that the buildings and grounds are:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Safe</li>
          <li>well-maintained</li>
          <li>suitable for students, staff, and visitors</li>
        </ul>

        <p class="govuk-body">The following responsibilities come from laws and regulations that must be followed, and best practice actions that will help you manage your estates effectively.</p>

        <h2 class="govuk-heading-m">CDM regulations compliance</h2>
        <p class="govuk-body">Make sure construction projects comply with the Construction (Design and Management) Regulations 2015.</p>

        <h2 class="govuk-heading-m">Planning permission</h2>
        <p class="govuk-body">Secure required planning permissions and ensure compliance with listed building regulations where applicable.</p>
        
        <h2 class="govuk-heading-m">Contractor due diligence</h2>
        <p class="govuk-body">Conduct due diligence when engaging contractors for estate work.</p>

        <h2 class="govuk-heading-m">Fire and safety standards</h2>
        <p class="govuk-body">Make sure new construction meets fire safety regulations and accessibility requirements.</p>
        
        <h2 class="govuk-heading-m">Flood and climate resilience</h2>
        <p class="govuk-body">Use environment agency data to assess flood risks and implement climate adaptation strategies.</p>

      </div>


      <!-- Use this section for Related content links -->

      <div class="govuk-grid-column-one-third">
        <aside class="dfe-aside">
          <h2 class="govuk-heading-m">Related content</h2>
          <ul class="govuk-list govuk-list--spaced">
            <li><a href="#" class="govuk-link">[Link]</a></li>
            <li><a href="#" class="govuk-link">[Link]</a></li>
          </ul>
        </aside>
      </div>
    
    </div> <!-- THIS DIV CANNOT BE DELETED -->

{% endblock %}



{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}
