{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{% block header %}

{{ header({
  "showNav": "true",
  "showSearch": "true",
  "showHeaderActionLinks": "true",
  "logoPath": "public/images",
  "searchAction": "/search/",
  "searchInputName": "q",
  "logoAltText": "Department for Education",
  "homeHref": "/",
  "selectedNav": view,
  "service": {
    "name": "Manage and maintain education estates",
    "serviceUrl": "/"
  },
  "headerActionLinks": [
    {
      "url"  : "/",
      "label" : "My account"
    },
    {
      "url"  : "#",
      "label" : "Sign out"
    }
  ],
  "primaryLinks": [
      {
      "url"  : "homepage",
      "label" : "Home"
    },
    
    {
      "url"  : "contact-us-for-support",
      "label" : "Contact us for support"
    }
  ]
})
}}

{% endblock %}


{% block footer %}
  

{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
  meta: {
    items: [
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      },
      {
        href: "#",
        text: "Privacy"
      },
      {
        href: "#",
        text: "Cookies"
      },
      {
        href: "#",
        text: "Accessibility statement"
      },
      {
        href: "#",
        text: "Contact us"
      }
    ]
  }
}) }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}