{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from 'node_modules/dfe-frontend/packages/components/header/macro.njk' import header %}

{% block header %}

{{ header({
    "showNav": "true",
    "showSearch": "true",
    "showHeaderActionLinks": "true",
    "logoPath": "public/images",
    "searchAction": "/search/",
    "searchInputName": "q",
    "logoAltText": "Department for Education",
    "homeHref": "/",
    "selectedNav": "Home",
    "service": {
      "name": "Manage and maintain education estates",
      "serviceUrl": "/"
    },
    "headerActionLinks": [
      {
        "url"  : "auth/sign-in",
        "label" : "Sign in"
      }
    ],
    "primaryLinks": [
        {
        "url"  : "/",
        "label" : "Home"
      },
      {
        "url"  : "tools-and-resources",
        "label" : "Tools and resources"
      }, {
        "url"  : "news-and-policy-updates",
        "label" : "News and policy updates"
      },
      {
        "url"  : "contact-us-for-support",
        "label" : "Contact us for support"
      }
    ]
  })
}}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %}